<ion-view view-title="联系我们">
    <ion-header-bar align-title="center" class="bar-positive bar-header-black">
        <div class="buttons">
            <button class="button button-icon icon ion-arrow-left-c" ng-click="back()"></button>
        </div>
        <h1 class="title">联系我们</h1>
    </ion-header-bar>

    <ion-content scroll="true" overflow-scroll="true"><br />
	<br />

	<div align="center"><font size="+3"><img width="350" src="/img/kefu.jpg" /></font></div>
        <!--<iframe ng-src='https://www.sobot.com/chat/h5/index.html?sysNum=8396ce34511b4d97828244802c72c6ec' class="width-100 height-100" style="min-width: 100%; min-height: 100%;" ></iframe> -->
    </ion-content>
</ion-view>
