<ion-view view-title="上分记录" need-login>
  <ion-nav-bar class="bar-positive bar-header-black" align-title="center">
    <ion-nav-back-button>返回</ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新列表..." on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="账号" ng-model="data.queryUserId">
            </label>
            <button class="button button-small button-positive"  ng-click="doRefresh()">
                查询
            </button>
        </div>
      <div ng-if="records.length==0" style="margin: 10px;color: grey">
        没有任何记录.
      </div>
      <div class="item card" ng-repeat="r in records">
        <div class="row clearfix" >
          <div class="left"><span style="color:grey;font-weight: bold">{{r.userIdText}}</span></div>
          <div class="right"><span style="color:grey">{{r.tradetime}}</span></div>
          <br>
          <div class="left"><span style="color:forestgreen;">[上分] {{r.fee}}金币</span></div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" ng-if="!noMoreItemsAvailable">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
