<ion-view view-title="站内转账" need-login>
  <ion-nav-bar class="bar-positive bar-header-black" align-title="center">
    <ion-nav-back-button>转账管理
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="number" placeholder="请输入账户ID(数字ID)" ng-model="userId">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="请输入转账金额" ng-model="money">
      </label>
      <button class="button button-block button-positive button-green" ng-click="transfer(userId,money)">确定</button>
    </div>
  </ion-content>
</ion-view>
