<ion-view view-title="申请成为代理" need-login>
    <ion-nav-bar class="bar-positive bar-header-black" align-title="center">
        <ion-nav-back-button>返回</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div style="margin-left: 5px;margin-right: 5px;">
         <!--   <img style="width: 100%" src="img/proxy.png"><br>-->
            <div style="background-color: #EEE;padding: 5px;" >
                <span style="color:darkorange;font-size: 20px;font-weight:bold;">申请条件</span><br><br>
                <span style="color:orangered;font-size: 18px;font-weight:bold;">使用{{conf.money}}金币购买代理权限</span><br>
                <br>
            </div>
            <button class="button button-block button-positive button-green" ng-click="apply()">
                我要申请
            </button>
        </div> 
	<!--	<div align="center"><font size="+3"><img width="5500" src="/img/kefudaili.jpg" /></font></div>-->
		
    </ion-content>
</ion-view>
