<ion-view view-title="修改昵称" need-login>
  <ion-nav-bar class="bar-positive bar-header-black" align-title="center">
    <ion-nav-back-button>返回</ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="请输入新昵称" ng-model="nickName">
      </label>
      <button class="button button-block button-positive button-green" ng-click="updateName(nickName)">确定</button>
    </div>
  </ion-content>
</ion-view>
