<ion-view view-title="转账管理" need-login>
    <ion-nav-bar class="bar-positive bar-header-black" align-title="center">
        <ion-nav-back-button>我的账户
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-left item-icon-right" ui-sref="tab.account-transfer-do">
                <i class="icon ion-arrow-return-right"></i>
                我要转账 </span>
                <i class="icon ion-ios-arrow-right item-note"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" ui-sref="tab.account-transfer-log">
                <i class="icon ion-android-clipboard"></i>
                转账记录
                <i class="icon ion-ios-arrow-right item-note"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
