<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">


    <bean class="org.takeback.chat.schedule.PK10Schedule" id="pcSchedule"/>
    <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" id="pcScheduleJobDetail">
        <property name="targetObject">
            <ref bean="pcSchedule"/>
        </property>
        <property name="targetMethod">
            <value>doStuff</value>
        </property>
    </bean>
    <bean class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean" id="pcScheduleTrigger">
        <property name="jobDetail" ref="pcScheduleJobDetail"/>
        <property name="startDelay" value="0"/>
        <property name="repeatInterval" value="5000"/>
        <property name="repeatCount" value="-1"/>
    </bean>

    <!--每隔20秒检查红包过期,清理红包缓存 -->
    <bean class="org.takeback.chat.schedule.LotterySchedule" id="lotterySchedule"/>
    <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" id="lotteryScheduleJobDetail">
        <property name="targetObject">
            <ref bean="lotterySchedule"/>
        </property>
        <property name="targetMethod">
            <value>work</value>
        </property>
    </bean>
    <bean class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean" id="lotteryScheduleTrigger">
        <property name="jobDetail" ref="lotteryScheduleJobDetail"/>
        <property name="startDelay" value="0"/>
        <property name="repeatInterval" value="10000"/>
        <property name="repeatCount" value="-1"/>
    </bean>

    <!--每天5点定时同期输赢-->
    <bean class="org.takeback.chat.schedule.ProxySchedule" id="proxySchedule"/>
    <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" id="proxyScheduleJobDetail">
        <property name="targetObject">
            <ref bean="proxySchedule"/>
        </property>
        <property name="targetMethod">
            <value>work</value>
        </property>
    </bean>
    <bean class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" id="proxyScheduleTrigger">
        <property name="jobDetail" ref="proxyScheduleJobDetail"/>
        <property name="cronExpression" value="0 17 5 * * ?"/>
    </bean>


    <!-- 每隔100分钟获取微信token和js ticket -->
    <!-- 测试公众号 -->
    <!--
    <property name="appId" value="wxd2aac1eadf69e2fe"/>
    <property name="appSecret" value="13f527938199872420ec648c193683f2"/>
    -->
    <!--
    <bean class="nw.mobile.wechat.WechatTokenUtils" id="wechatTokenUtils">
        <property name="appId" value="wx75057ef4824fe237"/>
        <property name="appSecret" value="c697a52ae99d92cf0dfd6691bb9a68d8"/>

    </bean>
    <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" id="wechatTokenUtilsHandler">
        <property name="targetObject">
            <ref bean="wechatTokenUtils"/>
        </property>
        <property name="targetMethod">
            <value>getJsapiTicket</value>
        </property>
    </bean>
    <bean class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean" id="simpleTrigger2">
        <property name="jobDetail" ref="wechatTokenUtilsHandler"/>
        <property name="startDelay" value="60000"/>
        <property name="repeatInterval" value="6000000"/>
        <property name="repeatCount" value="-1"/>
    </bean>
    -->
<!--
    <bean class="org.takeback.lottery.spiders.TradeSchedule" id="tradeSchedule"/>
    <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" id="tradeTaskJobDetail">
        <property name="targetObject">
            <ref bean="tradeSchedule"/>
        </property>
        <property name="targetMethod">
            <value>processThePrePayTrade</value>
        </property>
    </bean>
    <bean class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean" id="tradeSimpleTrigger">
        <property name="jobDetail" ref="tradeTaskJobDetail"/>
        <property name="startDelay" value="60000"/>
        <property name="repeatInterval" value="300000"/>
        <property name="repeatCount" value="-1"/>
    </bean>
-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" name="scheduler" lazy-init="false"
          autowire="no">
        <property name="triggers">
            <list>
                <ref bean="proxyScheduleTrigger"/>
                <!--<ref bean="pcScheduleTrigger"/>-->
                <!--<ref bean="lotteryScheduleTrigger"/>-->
                <!--<ref bean="tradeSimpleTrigger"/>-->
            </list>
        </property>
    </bean>

</beans>
