<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<bean id="dateBean" class="org.takeback.util.context.beans.DateBean" />
	<bean id="jvmStatBean" class="org.takeback.util.context.beans.JVMStatBean" />
	<bean id="topContext" class="org.takeback.util.context.Context">
		<constructor-arg>
			<map>
				<entry>
					<key>
						<value>date</value>
					</key>
					<ref bean="dateBean" />
				</entry>
				<entry>
					<key>
						<value>jvm</value>
					</key>
					<ref bean="jvmStatBean" />
				</entry>
			</map>
		</constructor-arg>
	</bean>
	<bean id="staticInitContext" class="org.takeback.util.context.Context">
		<constructor-arg type="java.lang.String" value="server" />
		<constructor-arg ref="topContext" />
	</bean>
</beans>
