<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">


	<!-- for example init store for params -->
	<bean class="org.takeback.util.kvstore.support.LevelDBStore" id="levelDBStore" init-method="start" destroy-method="close">
		<constructor-arg name="name" value="paramsStore"/>
	</bean>
	<bean class="org.takeback.util.kvstore.KVStoreFactory" id="kvStoreFactory">
		<property name="stores">
			<map>
				<entry key="paramsStore" value-ref="levelDBStore"/>
			</map>
		</property>
	</bean>

</beans>
